:root {
  --wrapper-width: 1920px;
  --container-width: 1200px;

  --font-default: "Inter", sans-serif;
  --fz-body: 16px;

  --bg-body: #f2f2f2;
  --main-color: #4362a0;
  --text-color: #333;
  --title-color: #212121;
  --animation-fade: fade 0.3s ease-in-out;
}
